# 1. Removendo dados em estruturas existentes

- declaração DELETE remove uma ou mais linhas de uma tabela ou view;
- DELETE é diferente de fazer um DROP (que remove a tabela em si). No DELETE você só esá apagando uma das linhas da sua tabela.
- o parâmetro table_sources pode ser usado para especificar tabelas ou views adicionais que podem ser usadas na cláusula WHERE;
- Muita gente não remove linha, são práticas novas, pois antigamente espaço de disco era muito caro, atualmente não. Como o espaço de disco ficou barato, muita gente não usa o comando DELETE. As pessoas preferem criar um comando a mais, uma flag e dizer: "tupla utilizada ou não". Quando for remover, apenas põe como flag "tupla não utilizada". Assim, aquela entidade se mantém integra, você ainda consegue acessar aquela entidade que foi removida, mas você ainda não a removeu do seu banco de dados. A vantagem é que o comando DELETE, assim como o DROP, você não tem como voltar atrás. Uma vez que você deleta uma linha ela some do seu banco de dados. O mesmo vale para o DROP, se você dropar uma tabela ou coluna, ela não existe mais. Por isso muita gente prefere adicionar uma coluna a mais e manter a linha no banco de dados do que remover.
- Mas há casos em que precisamos remover o dado, por isso que esses comandos ainda existem no banco de dados e na linguagem SQL.
- Comando DELETE é similar ao INSERT. Leia assim: delete dado/tabela/visão da tabela x, aonde você tem uma condição.

__Sintaxe do DELETE__  
`DELETE table_or_view -- DELETE nome_da_tabela/visao_q_vc_quer_remover
FROM table_sources
WHERE search_condition`

__DELETE sem a cláusula WHERE__
`DELETE FROM SomeTable;`
Ex.: DELETE FROM Sales.SalesPerson; -> removo o dado da tabela x. Não estou informando quais dados estou removendo. A cláusula está bem limpa, neste caso ele vai apagar todos os dados da minha tabela. Apago a tabela sem apagar a estrutura da minah tabela. A diferença desse comando para o DROP table é que eu estou apagando a tabela e ai eu teria que criá-la de novo. Com o DELETE FROM e o nome da tabela em si eu estou apagando os dados da tabela, mas ainda mantenho a estrutura da tabela.  
  
__DELETE usando TOP__
Do mesmo modo como há o comando TOP para INSERT, eu posso apagar algumas linhas iniciais e não todos os dados da minha tabela.
`DELETE TOP (1)
FROM SomeTable;`
Ex.:  
DELETE TOP (2.5) PERCENT
FROM Production.ProductInventory;
Veja que apago as linhas principais, utilizo um percentual, apago o top 2.5% da minha tabela. Independente do que for o conteúdo, ele apaga as 2,5% de linhas que aparecem. Esse comando é útil quando você está trabalhando com teste, com algum exemplo em que o dado não importa, você pode apagar para ter mais espaço em disco ou algum outro motivo.  
  
__DELETE usando uma Subquery__
Também posso fazer subquery, que nem na inserção de dados. Posso fazer uma consulta, a qual me dá um resultado e este resultado que eu estou apagando. No exemplo abaixo apago um dado através de uma query de consulta. Apago o dado da tabela x, aonde o ID se encontra em um SELECT. Por ex. quem fez menos vendas eu apago. Ou delete da tabela x quem começa com o nome Pedro, ou quem tem o ID x... Eu posso fazer esse tipo de construção no meu comando DELETE.  
`DELETE FROM SomeTable
WHERE SomeColumn IN
    (Subquery Definition)` 
  
`DELETE FROM
Sales.SalesPersonQuotaHistory
    (SELECT SalesSalesPersonID
    FROM Sales.SalesPerson
    WHERE SalesYTD > 2500000.00;`
  
A vantagem é que vo0cê pode querer apagar só quem tem por ex. o CPF entre 1000 e 2.00.000, ou quem nasceu entre 70 e 80, já que não quero apagar o resto dos dados. Através das opções do WHERE eu consigo construir quais situações eu estou querendo apagar. Quais linhas eu estou selecionando.

- Também consigo truncar a tabela. Truncar a tabela é eu conseguir quebrar a tabela em partes.
- A declaração TRUNCATE é mais rápida que o DELETE, mas não há como restringir as linhas que serão removidas através da cláusula WHERE, não consigo utilizar o comando WHERE (essa é uma desvantagem). Já no DELETE eu consigo usar o WHERE, porém é mais lento.   
__Sintaxe do TRUNCATE TABLE__  
`TRUNCATE TABLE
    [ { database_name.[ schema_name ]. | schema_name . } ]
    table_name
[ ; ]`  
  
Ex.:
`TRUNCATE TABLE Cliente;`
`TRUNCATE TABLE Sales.SalesPerson;`

A boa prática ao usar o comando DELETE é aplicar um SELECT antes, para verificar se os dados retornados são os que queremos eliminar. Dessa forma teremos certeza de que estamos criando o campo WHERE corretamente.  
`SELECT name FROM Cliente
WHERE name like 'marcalo%';`  
Caso o retorno seja o que queremos eliminar, substituimos o SELECT pelo DELETE. Essa prática não consome muit tempo e vai lhe dar segurança oa usar o comando DELETE sem medo de apagar um dado, sem apagar algo que não tem mais volta (a não se rque você tenha um backup do banco ou da tabela).   
`DELETE FROM Cliente
WHERE name like 'marcelo%';`

P.s.: vamos aprender a fazer consultas mais adiante.

# 2. Atualizando dados em estruturas existentes

- A declaração UPDATE altera valores dos dados de uma ou mais linhas de uma tabela. No caso você já tem um valor inserido;
- Por ex. você nasceu em 01/01/2000, porém você errou a data e nasceu em 01/01/2007. Você não precisa apagar toda essa linha e inseri-la de novo. Você consegue alterar o valor através do comando UPDATE.
- Uma declaração UPDATE referenciando uma table or view pode alterar os dados somente em uma tabela ao mesmo tempo;
- UPDATE tem 3 claúsulas principais:  
    - SET – Lista de campos, separados por vírgula, que serão alterados.  
    - FROM – Fornece objetos fonte para a cláusula SET.  
    - WHERE – Especifica a condição de procura para aplicar as alterações com a cláusula SET.  
__Sintaxe do UPDATE__
`UPDATE table_or_view
SET column_name = expression
FROM table_sources
WHERE search_condition`  
  
Leia assim: UPDATE tabela x, SET qual o conjunto que você está mudando (ex. set coluna_placa pelo valor x), FROM nome_da_tabela, e o WHERE você dá a condição. Você pode ou não usar o WHERE, se você não usar o WHERE você está alterando todas as colunas, todos os valores que estão naquela coluna (informada no SET). Por isso é recomendável usar o WHERE para garantir que você não está cometendo nenhum equívoco e está fazendo a mudança correta.  
Ex.:
  
__Declaração simples do UPDATE__  
`UPDATE SomeTable
SET Column = Value`
  
UPDATE tabela venda, eu mudo o Bonus para 6000 independente de qualquer cláusula. Todos os bônus estão sendo alterados para 6000.
`UPDATE Sales.SalesPerson
SET Bonus = 6000;`  
  
Veja que posso fazer operações matemáticas através do UPDATE, por ex.: pego o Bonus e multiplico por 2.
`UPDATE Sales.SalesPerson
SET Bonus = Bonus * 2;`  
  
__UPDATE COM A CLÁUSULA WHERE__
`UPDATE SomeTable
SET Column = Value
WHERE SearchExpression`
  
`UPDATE Production.Product
SET Color = N’Metallic Red’
WHERE Name LIKE ’Road-250%’
AND Color = ’Red’;`
Leia assim: update a tabela Product, onde eu estou mudando Color que vai ser Metallic Red; aonde na tabela name aonde Road-250% e cor é red. Ou seja, altero a cor onde é red e onde o campo é Road-250%. Dou regras, em que conforme o DELETE você tem que rodar um SELECT antes para ver se está condizente, se realmente é aquele campo que você quer apagar, no UPDATE também é bom fazer isso. Ignora a parte do SET e ao invés disso faz um SELECT * FROM Product WHERE... para ver se os campos estão coerentes. Se é o que realmente você quer mudar. É um tempo a mais, mas que vai lhe dar uma tranquilidade.  
  
__UPDATE usando uma Subquery__
Também posso fazer que nem o DELETE e o INSERT, posso fazer uma subquery, em que eu estou executando um UPDATE aonde o meu WHERE tem uma subqeury. Parte do meu WHERE é o reusltado de alguma busca.  
`UPDATE SomeTable
SET Column = Value
FROM SomeSubquery
`
  
`UPDATE Sales.SalesPerson
SET SalesYTD = SalesYTD + SubTotal
FROM Sales.SalesPerson AS sp
JOIN Sales.SalesOrderHeader AS so
    ON sp.BusinessEntityID = so.SalesPersonID
    AND so.OrderDate = (SELECT MAX(OrderDate)
                        FROM Sales.SalesOrderHeader 
                        WHERE SalesPersonID = 								  sp.BusinessEntityID);`

__Exemplo:__  
`
Insert into Aluno (Nome) VALUES (‘Matheus’ )
Insert into Prova ( Matricula, Nota ) VALUES (503, 10 )
Delete from prova where Matricula = 500
Delete from aluno where Matricula = 500`
- Veja que eu faço o Delete duas vezes, pois não é porque eu apaguei de uma tabela, que ele apaga de outra tabela. Tenho que apagar de todas as tabelas, a não ser que tenha alguma CONSTRAINT que me dá alguma ordem ou regra específica.
- Vou alterar a matricula da Prova, de 502 para 504:
`Insert into Aluno (Nome) VALUES (‘Felipe’ )  --inseri Felipe
Update prova set Matricula = 504 where matricula = 502
`  

![alt text](imagens/tabela1.jpg)  
![alt text](imagens/tabela2.jpg)

# 3. Exercícios
- Vide no sqlfiddle: http://sqlfiddle.com/#!9/de747e/2