# 1. Primeiras consultas no banco de dados

- como efetivamente consultar o banco de dados para extrair informações para os mais diversos propósitos?
- uma das sub-linguagens mais importantes para o dia-a-dia do profissional de bancos de dados;
- Uusado para obter listagens de registros simples, limitar as atualizações de dados e a remoção de dados, uso para consulta de registros relacionados;
- em um banco de dados populado podemos extrair informações

- Categoria de subcomando da linguagem SQL que envolve a declaração de recuperação de dados (SELECT).
- SELECT é uma declaração SQL que retorna um conjunto de resultados (já esperado) de registros de uma ou mais tabelas. Ela recupera zero ou mais linhas de uma ou mais tabelas-base, tabelas temporárias, funções ou visões em um banco de dados.

- Comandos básicos do SELECT:  
![alt text](imagens/select.jpg) 
- SELECT: define quais colunas cou extrair
- FROM: de onde estou extraindo, de quais tabelas estou extraindo os dados;
- WHERE: cláusula onde as condições são atendidas;
- GROUP BY: agrupa por nome, por estado, por situações específicas;
- HAVING: condição de agrupamento. Ex: agrupar todas as pessoas que têm no mínimo 10 anos de idade; 
- ORDER BY: ordem em que o SELECT vai ser retornado.  

- WHERE, GROUP BY, HAVING e ORDER BY são opcionais. Tendo o SELECT * FROM tabela ele já executa.
- No comando SELECT, quanto mais elementos, mais simplificado e detalhado será a sua busca.

- a ordem em que a consulta (query) é escrita não significa que será a mesma ordem que o banco de dados utilizará para executar o processamento. Ele pode executar primeiro o FROM, depois WHERE, GROUP BY...:
![alt text](imagens/select2.jpg) 
- isso é só uma observação, não muda em nada no modo de executar as buscas

 - A forma mais simples da declaração SELECT é a utilização junto ao elemento FROM (ex.: SELECT * FROM tabela - selecione todos os campos da tabela x, ai retorna todos os elementos ou SELECT nome_da_coluna, nome_da_coluna2 FROM tabela_X ), conforme mostrado abaixo;

- Note que no "select list" há uma filtragem vertical, ou seja, retorna uma ou mais colunas de tabelas, mencionadas pela cláusula FROM.
![alt text](imagens/select3.jpg) 
- Esse comando é simples, mas se eu tiver uma tabela com muitas linhas e eu só quiser saber quem tem o nome maria, por ex., eu não preciso receber de retorno todos os nomes da tabela. É por isso que o WHERE é importante, porque posso filtrar quais situações eu quero.  
- A ideia do SELECT é justamente simplificar o seu resultado. Uma busca bem feita é otimizada, o reusltado é melhor, mais prático, mais eficiente.

- Outros exemplos para SELECT simples:
    - ( * ) - Retorna todas as colunas da tabela exemploSQL: `SELECT  * FROM exemploSQL`  
    - ( coluna ) - Retorna a coluna específica,  texto_curto_naonulo da tabela exemploSQL: `SELECT  texto_curto_naonulo FROM exemploSQL`

- Podemos utilizar diversos operadores matemáticos para cálculo de valores. Veja os principais operadores:
![alt text](imagens/operadores.jpg) 
![alt text](imagens/operadores2.jpg) 
- quando retorno a coluna, posso usar funções matemáticas. Consigo otimizar a minha busca e economizar tempo.
- P.S.: operadores possuem precedência entre si.

Ex. para SELECT simples e operadores:
- Retorna o resultado das operações abaixo:  

`SELECT  20 + 20 / 5 FROM exemploSQL`  
`SELECT  (20 + 20) / 5 FROM exemploSQL`   
`SELECT  20 + (20 / 5) FROM exemploSQL`  

`SELECT  ( (10+2) / 2 ) * 0.3 ) % 2`  

`SELECT  Nome, Salario * 1.07 FROM Funcionario`  

- Nota: O operador + se transforma em concatenador quando lidamos com string: SELECT  ‘Hoje’ + ‘ ‘ + ‘é’ + ‘ terça-feira ’ + ‘ou’ + ‘ quinta-feira ’ 
- Dê uma olhada nas funções média, mínimo... Ao invés de fazer a função matemática na aplicação, você pode fazê-la diretamente no BD quando você estiver fazendo a consulta.

# 2. Como usar apelidos nas consultas de dados

Pode ser necessário darmos apelidos (Aliases) a colunas para facilitar o entendimento no retorno dos dados:
- Apelidos na coluna utilizando a cláusula AS (não preciso imprimir no SELECT qtd, posso imprimir Quantidade ou qualquer outro nome que eu quiser. Vantagem: não preciso tratar na aplicação. Um campo SELECT bem feito, eu minimizo o trabalho na aplicação, ganho tempo e tenho um resultado melhor):
![alt text](imagens/as.jpg) 

- Também é possível realizar a mesma operação com =
![alt text](imagens/as2.jpg) 

- Ou mesmo, sem a necessidade do AS (SQL entende que preco vai ser ValorProduto):
![alt text](imagens/as3.jpg)

Também pode ser necessário darmos apelidos em tabelas, principalmente quando formos realizar joins:  
- Apelidos em tabelas com a cláusula AS:
![alt text](imagens/as4.jpg) 

- Apelidos em tabelas sem AS:
![alt text](imagens/as5.jpg) 

- Usando os apelidos no SELECT: 
![alt text](imagens/as6.jpg) 
- Vantagem: se eu tiver uma tabela com nome muito grande, na hora da consulta posso usar apelidos para simplificar esses nomes. Fica mais fácil de ler.

Exercício de consulta: http://sqlfiddle.com/#!9/caf268/6
http://sqlfiddle.com/#!9/805bb7/1
http://sqlfiddle.com/#!9/ded19e/2